.font-times-new-roman {
  font-family: "Times New Roman";
}

.font-roboto {
  font-family: "Roboto";
}

.font-redressed {
  font-family: 'Redressed', cursive;
}

.font-weight {
  font-weight: bold;
}
